# Ignorar entornos virtuales en subcarpetas
01_ING_DATOS/env/
02_ING_MODELOS/env/

# Ingorar archivos específicos
01_ING_DATOS/Docs/Dataset_Original.zip
02_ING_MODELOS/notebooks/feedback_copilot

# Ignorar archivos temporales de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Archivos muy pesados
02_ING_MODELOS/models/final_export/ssd_v2_model.keras
02_ING_MODELOS/models/checkpoints/ssd_v2_best.keras
01_ING_DATOS/Datasets_options/datasets_download
01_ING_DATOS/Datasets_options/dataset_maestro
01_ING_DATOS/Datasets_options/Chat_githubCopilot.md
02_ING_MODELOS/datasets*.gstmp
*.npy
*.gstmp
02_ING_MODELOS/GoogleCloudAI/outputs/yolo26n_v1/train/weights/best_saved_model/tmp_tflite_int8_calibration_images.npy_.gstmp
02_ING_MODELOS/GoogleCloudAI/outputs/yolo11n_v1/train/weights/best_saved_model/tmp_tflite_int8_calibration_images.npy